:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #295e68;
  --secondary-color: #c5d6d9;
}
/*Navbar*/

nav {
  display: inline;
  padding: 20px;
}
.logo {
  max-width: 200px;
  max-height: 42px;
}

.active a {
  color: var(--branding-color);
  font-weight: bold;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn a {
  color: black;
  text-decoration: none;
  transition: all 30ms ease-in-out;
}

.dropbtn a:hover {
  text-decoration: none;
  font-weight: bold;
}
.dropbtn a:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 30ms ease-in-out;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
  color: var(--branding-color);
  font-weight: bold;
}

/*Index*/
container {
  margin: 0px 100px;
}
.hero {
  text-align: center;
  padding: 50px 20px;
  background: var(--secondary-color);
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--default-font-family);
  padding-top: 20px;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-size: 24px;
  font-weight: bolder;
}

.hero img {
  max-width: 300px;
  border-radius: 150px 0px 150px 0px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  box-shadow: 20px 20px 20px var(--branding-color);
}

.hero .mb-5 {
  margin-bottom: 0px !important;
}
h3 {
  text-align: center;
  padding: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
.button {
  margin-top: 50px;
}
.btn {
  padding: 15px 30px;
  background: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  color: white;
  margin: 20px 0px;
}

.btn:hover {
  background: var(--branding-color);
  color: black;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}
.project-description {
  padding: 40px;
}
.project-description h2 {
  text-align: left;
}

.text-left {
  background: var(--secondary-color);
}

hr {
  margin-bottom: 50px;
}

/*About me page*/
.content-container {
  padding: 60px 20px;
}
.content-container h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 80px;
  margin: 20px 0px;
}
.content-container h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: --default-font-family;
  line-height: 1.2;
  text-align: left;
}
.content-container p {
  font-size: 16px;
  line-height: 30px;
}
.intro img {
  max-width: 300px;
  border-radius: 150px 0px 150px 0px;
  display: block;
  margin: 0 auto;
  margin-left: 20px;
  box-shadow: 20px 20px 20px var(--branding-color);
}

.intro .col-lg-8 {
  padding-right: 50px;
}

.skills-logos img {
  width: 50px;
  margin: 10px;
  transition: 0.05s all ease-in-out;
}

.skills-logos img:hover {
  transform: scale(1.5);
}

.language-logos p {
  font-size: 48px;
}

.skills-languages {
  margin-top: 30px;
}

.skills-languages img {
  max-width: 160px;
  transition: 0.05s all ease-in-out;
}

.certificates img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  padding: 20px 10px;
  transition: 0.05s all ease-in-out;
}

.certificates img:hover {
  transform: scale(1.2);
}

.certificates h2 {
  text-align: center;
}
/*Projects*/
.works h1,
h2,
h3 {
  text-align: center;
}
.works h1 {
  font-size: 50px;
  padding: 100px;
}
.works h2 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  margin-top: 10px;
  font-weight: bold;
}
.works h3 {
  font-size: 14px;
  padding: 10px;
  font-family: var(--default-font-family);
  color: #6c757d;
}
.works img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.works p {
  text-align: center;
}
.dentist-image {
  padding: 10px 0px;
}

.library-image {
  padding: 91px 0px;
}
.weather-image {
  padding: 108px 0px;
}
.dictionary-image {
  padding: 3px 0px;
}

.weather-react-image {
  padding: 42px 0px;
}

.contact-box h4 {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  line-height: 50px;
  padding: 0px;
}
.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*Contact*/
.contact-details h3 {
  text-align: left;
  padding: 0;
}
.contact-details p {
  text-align: left;
}
.contact-details a {
  color: black;
  text-decoration: none;
}
.contact-details a:hover {
  color: var(--branding-color);
}
.tenor-gif-embed {
  display: block;
  margin: 0 auto;
}
.contact-details .details {
  padding-top: 28px;
}
/*Footer*/
footer {
  margin: 60px 0px;
}

.contact a {
  color: black;
  font-size: 24px;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.contact-box h4 {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  line-height: 64px;
  padding: 0px;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  line-height: 70px;
}
.contact-box p {
  margin: 0;
  line-height: 64px;
}
footer a:hover {
  color: var(--branding-color);
  text-decoration: none;
}
.contact-annika .btn {
  padding: 15px 30px;
  background: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  color: white;
  margin: 30px 0px;
}

.contact-annika .btn:hover {
  background: var(--branding-color);
  color: black;
}
.social-links {
  text-align: center;
  margin: 24px 0;
}
.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background: var(--branding-color);
}
.description a {
  color: black;
}
@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }
  .hero p {
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .project-description h2 {
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 20px;
  }
  .content-container h1 {
    font-size: 44px;
    font-weight: normal;
  }
  .content-container h2 {
    text-align: center;
  }
  .works h1 {
    font-size: 30px;
    padding: 20px;
  }
  .works img {
    max-width: 90%;
    margin-top: 30px;
  }
  .weather-image {
    padding: 0px;
  }
  .dentist-image {
    padding: 0px;
  }
  .contact-details h3,
  .contact-details p {
    text-align: center;
  }
  .content-container img {
    max-width: 90%;
  }
  .intro .col-lg-8 {
    padding-right: 20px;
  }
  .skills-languages img {
    max-width: 200px;
  }
}

@media (max-width: 450px) {
  .dropbtn {
    font-size: 12px;
    padding: 10px;
  }
}
@media (max-width: 350px) {
  .nav-links a {
    font-size: 12px;
  }
  .tenor-gif-embed {
    max-width: 200px;
  }
}
