:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #295e68;
  --secondary-color: #c5d6d9;
}
/*Navbar*/
nav {
  display: inline;
  padding: 20px;
}
.logo {
  max-width: 150px;
  max-height: 42px;
}
ul {
  display: inline;
  text-align: right;
  padding: 0;
  margin: 0;
}
.nav-links li {
  display: inline;
  margin-left: 10px;
  line-height: 42px;
}
.nav-links a {
  color: black;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.nav-links a:hover,
nav li.active a {
  color: var(--branding-color);
  font-weight: bold;
}

/*Index*/
container {
  margin: 0px 100px;
}
.hero {
  text-align: center;
  padding: 50px 20px;
  background: var(--secondary-color);
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--default-font-family);
  padding-top: 20px;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-size: 24px;
  font-weight: bolder;
}

.hero img {
  max-width: 300px;
  border-radius: 150px 0px 150px 0px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  box-shadow: 20px 20px 20px var(--branding-color);
}

.hero .mb-5 {
  margin-bottom: 0px !important;
}
h3 {
  text-align: center;
  padding: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
.button {
  margin-top: 50px;
}
.btn {
  padding: 15px 30px;
  background: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  color: white;
  margin: 20px 0px;
}

.btn:hover {
  background: var(--branding-color);
  color: black;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}
.project-description {
  padding: 40px;
}
.project-description h2 {
  text-align: left;
}

/*About me page*/
.content-container {
  padding: 60px 20px;
}
.content-container h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 80px;
  margin: 20px 0px;
}
.content-container h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: --default-font-family;
  line-height: 1.2;
  text-align: left;
}
.content-container p {
  font-size: 16px;
  line-height: 30px;
}
.content-container img {
  max-width: 300px;
  border-radius: 150px 0px 150px 0px;
  display: block;
  margin: 0 auto;
  box-shadow: 20px 20px 20px var(--branding-color);
}

/*Projects*/
.works h1,
h2,
h3 {
  text-align: center;
}
.works h1 {
  font-size: 50px;
  padding: 100px;
}
.works h2 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  margin-top: 10px;
  font-weight: bold;
}
.works h3 {
  font-size: 14px;
  padding: 10px;
  font-family: var(--default-font-family);
  color: #6c757d;
}
.works img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.works p {
  text-align: center;
}
.dentist-image {
  padding: 69px 0px;
}

.library-image {
  padding: 43px 0px;
}

.contact-box h4 {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  line-height: 50px;
  padding: 0px;
}
.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*Contact*/
.contact-details h3 {
  text-align: left;
  padding: 0;
}
.contact-details p {
  text-align: left;
}
.contact-details a {
  color: black;
  text-decoration: none;
}
.contact-details a:hover {
  color: var(--branding-color);
}
/*Footer*/
footer {
  margin: 60px 0px;
}

.contact a {
  color: black;
  font-size: 24px;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.contact-box h4 {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  line-height: 64px;
  padding: 0px;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  line-height: 70px;
}
.contact-box p {
  margin: 0;
  line-height: 64px;
}
footer a:hover {
  color: var(--branding-color);
  text-decoration: none;
}
.contact-annika .btn {
  padding: 15px 30px;
  background: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  color: white;
  margin: 30px 0px;
}

.contact-annika .btn:hover {
  background: var(--branding-color);
  color: black;
}
.social-links {
  text-align: center;
  margin: 24px 0;
}
.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background: var(--branding-color);
}
.description a {
  color: black;
}
@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }
  .hero p {
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .project-description h2 {
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 20px;
  }
  .content-container h1 {
    font-size: 44px;
    font-weight: normal;
  }
  .content-container h2 {
    text-align: center;
  }
  .works h1 {
    font-size: 30px;
    padding: 20px;
  }
  .works img {
    max-width: 90%;
    margin-top: 30px;
  }
  .weather-image {
    padding: 0px;
  }
  .dentist-image {
    padding: 0px;
  }
  .contact-details h3,
  .contact-details p {
    text-align: center;
  }
  .content-container img {
    max-width: 90%;
  }
}
@media (max-width: 350px) {
  .nav-links a {
    font-size: 12px;
  }
}
